<table class="table table-hover">
	<tr>
		<th>ID</th>
		<th>Hóspede</th>
		<th>Entrada</th>
		<th>Saída</th>
        <th>Valor</th>
		<th>Deletar</th>
	</tr>

	<tr *ngFor="let checkin of checkins">
		<td>{{checkin.id}}</td>
		<td>{{checkin.guest.name}}</td>
		<td>{{checkin.entryDate | date : 'dd/MM/yyyy HH:mm'}}</td>
		<td>{{checkin.departureDate | date : 'dd/MM/yyyy HH:mm'}}</td>
        <td>{{checkin.totalCost | currency : 'BRL'}}</td>
		<td>
			<div class="example-button-row">
				<!--<button mat-raised-button color="warn" (click)="delete(checkin.id)">Remover</button>-->
                <button mat-raised-button color="warn" >Remover</button>
			</div>
		</td>
	</tr>
</table>

<hr>

