<table class="table table-hover">
	<tr>
		<th>ID</th>
		<th>Nome</th>
		<th>Documento</th>
		<th>Telefone</th>
		<th>Ações</th>
	</tr>

	<tr *ngFor="let guest of guests">
		<td>{{guest.id}}</td>
		<td>{{guest.name}}</td>
		<td>{{guest.document}}</td>
		<td>{{guest.telephone}}</td>
		<td><button (click)="delete(guest.id)">Remover</button></td>
	</tr>
</table>

<hr>


<form class="example-form">
   <table class="example-full-width" cellspacing="0">
	   <tr>
			<td>  
				<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>ID</mat-label>
				<input matInput #message maxlength="10" placeholder="ID" [(ngModel)]="guest.id" [ngModelOptions]="{standalone:true}" required>
				</mat-form-field>
			</td>

			<td>
				<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>Nome</mat-label>
				<input matInput #message maxlength="256" placeholder="Name" [(ngModel)]="guest.name" [ngModelOptions]="{standalone:true}" required>
				</mat-form-field>
			</td>
			
 			 <td>
				<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>Documento</mat-label>
				<input matInput #message maxlength="256" placeholder="Documento" [(ngModel)]="guest.document" [ngModelOptions]="{standalone:true}" required>
				</mat-form-field>
			</td>

			<td>
				<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>Telefone</mat-label>
				<input matInput #message maxlength="256" placeholder="telefone" [(ngModel)]="guest.telephone" [ngModelOptions]="{standalone:true}" required>
				</mat-form-field>
			</td>
			<td>
			  	<div class="example-button-row">
					<button mat-raised-button color="primary" (click)="save()">Salvar</button>
			  	</div>
		  	</td>
		  </tr>
	</table>	
</form>